<!DOCTYPE html>
<html>
  <head>
    <title>ProtoTurk - Task {{ task_id }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  </head>
  <body>
    <div>
      <span style="font-size: 1.2em; font-weight: bold;">
        <a href="https://github.com/hltcoe/prototurk">ProtoTurk</a>
      </span>
      - Task #{{ task_id }}
    </div>

    <hr>

    <form name="mturk_form" method="post" id="mturk_form" target="_parent"
          action="{{ form_submit_url }}"
          data-iframe-height="">
      {{ !turk_template }}
      % if not turk_template_has_submit_button:
      <p class="text-center">
        <input type="submit" id="submitButton" class="btn btn-primary" value="Submit" />
      </p>
      % end
    </form>

    <hr>

    <div style="text-align: center; font-size: 0.8em;">
      <a href="/">Task List</a>
    </div>

  </body>
</html>
